
:root{
    --white : #fff;
    --slate_bg : #475569;
    --black :#000;
    --gry :#e0dbdb7b;
    --primary : #9A3412;
    --black__opacity:#0000002a;
    --button_produit:#00A0B1;
    --gray-100 : #eae9e9;
    --green : #047F18;
}