.info{
    width: 80%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--black__opacity),-1px -1px 2px var(--black__opacity);
    margin: 0px auto;
    padding: 1rem;
    .info_ele{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .info__detail{
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}