.profil_navigation{
    width: 200px;
    height: 105px;
    border-radius: 7px;
    border: solid 1px var(--gry);
    padding: 1rem 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 1px 1px 1px var(--black__opacity),-1px -1px 1px var(--black__opacity);
    .profil_navigation__info{
        display: flex;
        align-items: center;
        color: var(--black);
        .icon{
            margin-right: 2rem;
            margin-left: 10px;
            background-color: var(--black__opacity);
            border-radius: 50%;
            padding: 10px;

            font-size: 15px;
        }
    }
    .ligne{
        width: 100%;
        height: 1px;
        background-color: var(--black__opacity);
    }
    .active{
        font-size: 17px;
        color: var(--primary);
    }
}